
@import "variables";
@import "mixins";
@import "typography";

html{
    background-color: black;
    color: #ffffff;
    font-size: 16px;
}

li {
    flex: 0 1 100%;
    @include tablet {
       flex: 0 1 100%;
    }
 }

 li {
    flex: 0 1 100%;
    @include desktop {
       flex: 0 1 50%;
    }
 }

