
@import "variables";
@import "mixins";
@import "typography";
*{
    box-sizing: border-box;
}


html{
    background-color: black;
    color: #ffffff;
    font-size: 16px;
    height:100%;
    min-width: 320px;
    font-family: "Open Sans Light";
    
    body{
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        #loader-container{
            display: flex;
            margin: 1rem auto;
            justify-content: center;
            
            
            #loader{
                height: 2rem;
                padding-bottom: 7px;
                text-align: center;
                display:none;
            }
        }
        .contents{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 400px;
            width:100%;
            align-content: flex-end;
            transform: scale(1);
            transition: all 0.5s linear;
            
            @include tablet{
                    flex-wrap: nowrap;
                    align-items: center;    
            }
            
            
            .ny-logo{
                @extend %positioning-mobile;
                
                @include tablet{
                        flex-basis: 50%;
                        text-align: initial;
                        min-width: initial;
                        display: flex;
                        justify-content: flex-end;
                        transform: scale(1);
                        transition: all 0.5s linear;
                }
                
            }
            
            
            #dropdown-elements{
                
                @include tablet{
                    flex-basis: 50%;
                }
                
                
                .menu-top{
                    @extend %positioning-mobile;
                    margin: 1rem auto;
                    
                    @include tablet{
                        &{
                            text-align: initial;
                        }
                    }
                }
                
                
                
                
                .dropdown-menu{
                    @extend %positioning-mobile;
                    
                    select{
                        background-color: white;
                        
                    }
                    
                    @include tablet{
                        &{
                            text-align: initial;
                        }
                    }
                    
                }    
                
            }
            
        }
        
        
        
        @include tablet {
            header{
                display:flex;
                flex-basis:100%;
                flex-wrap: wrap;
                
            }
            
            
        } 
        
        .header-active{
            height: 330px;
            @include tablet {
                height: 150px;
            }
            
            .contents{
                height:290px;
                @include tablet{
                    height:150px;
                }
            }
            .ny-logo{
                transform:scale(0.7);
                @include tablet {
                    transform: scale(0.5);
                }
            }
        }
        
        
        
        
        .container{
            
            #news{
                display: flex;
                flex-wrap: wrap;
                width:100%;

                @include tablet{
                    #news{
                        flex-wrap: wrap;
                        flex-basis: 33%;
                        max-width: 33%;
                    }

                }
                
                
                li{
                    flex: 0 1 100%;
                    height:100vw;
                    

                    @include tablet {
                        flex: 0 1 100%;
                        height:20rem;
                        flex-basis:33%; 
                    }
                    
                    a{text-decoration: none;
                        color:#ffffff;
                        
                        .newsbox{
                            display: flex;
                            align-items: flex-end;
                            height:100vw;
                            width:100vw;
                            background-size: cover;

                            @include tablet{
                                     width: initial;
                                    height: 20rem;
                                    background-position: center;
                            }
                            
                            
                            .abstract{
                                width: 100%;
                                background-color: rgba(0, 0, 0, 0.497);                     
                            }
                        }                          
                    }   

                    
                       
                    
                }
            }
        }
        
        footer{
            justify-content: center;
            margin: auto auto 6% auto;
            display:flex;
            align-content: center;
            color: #c2c2c2;
            width: 100%;
            
            
            #copyright{
                padding: 15px;
            }
            
            
            
        }
        
    }
    
    
    
    
    
    
    
    li {
        flex: 0 1 100%;
        @include desktop {
            flex: 0 1 50%;
        }
    }
    
}